<p id="notice"><%= notice %></p>

<p>
  <strong>Pendidikan terakhir:</strong>
  <%= @pendidikan.pendidikan_terakhir %>
</p>

<%= link_to 'Edit', edit_pendidikan_path(@pendidikan) %> |
<%= link_to 'Back', pendidikans_path %>
